{# {% set button_base_class = button_base_class|default('btn-primary-large') %}
{% set button_base_class2 = button_base_class|default('btn-primary-large') %}
{% set iconRight = iconRight|default(false) %}
{% set iconLeft = iconLeft|default(false) %}
{% set dark = dark|default(false) %}
{% set full = full|default(false) %}
{% set button_text = button_text|default('Más programas') %}
{% set button_modifiers = button_modifiers|default([]) %}
{% set class_text_button = class_text_button|default('ss3-button-lg-600') %}
{% set aria_label = aria_label|default(button_text) %}
{% set target = target|default('_self')%}
{% set href = href|default('none') %}
{% set id = id|default(0) %}

{% if iconRight %}
	{% set button_modifiers = button_modifiers|merge(['iconRight'])%}
{% elseif iconLeft %}
	{% set button_modifiers = button_modifiers|merge(['iconLeft'])%}
{% endif %}

{% if dark %}
	{% set button_modifiers = button_modifiers|merge(['dark'])%}
{% endif %}

{% if full %}
	{% set button_modifiers = button_modifiers|merge(['full'])%}
{% endif %}


{% if button_modifiers|length > 0 %}
	{% for modifier in button_modifiers %}
		{% set button_base_class = button_base_class ~ ' ' ~ button_base_class2 ~ '--'~ modifier %}
	{% endfor %}
{% endif %}

{% set words = button_base_class2|split('-') %}
{% set size_button = words|last %}

{% if size_button == 'large' %}
	{% set class_text_button = 'ss3-button-lg-600' %}
{% elseif size_button == 'medium' %}
	{% set class_text_button = 'ss3-button-md-600' %}
{% elseif size_button == 'small' %}
	{% set class_text_button = 'ss3-button-sm-600' %}
{% endif %}

{% if href == 'none' %}

	<button class='{{ button_base_class }}' aria-label='{{ aria_label }}' id='{{ id }}'>
		{% if iconLeft %}
			{% include '@base/03-icons/icons.twig' with {
				icon_grade: 'nrm',
				icon_opz: '20',
				icon_text: 'arrow_back_ios'
			} %}
		{% endif %}


		{% include '@base/05-text/text/text.twig' with {
		text_class: class_text_button,
		text_content: button_text
		} %}

		{% if iconRight %}
			{% include '@base/03-icons/icons.twig' with {
				icon_grade: 'nrm',
				icon_opz: '20',
				icon_text: 'arrow_forward'
			} %}
		{% endif %}

	</button>

{% else %}

	<a class='{{ button_base_class }}' aria-label='{{ aria_label }}' target='{{ target }}' href='{{ href }}' id='{{ id }}'>
		{% if iconLeft %}
			{% include '@base/03-icons/icons.twig' with {
				icon_grade: 'nrm',
				icon_opz: '20',
				icon_text: 'arrow_back_ios'
			} %}
		{% endif %}


		{% include '@base/05-text/text/text.twig' with {
		text_class: class_text_button,
		text_content: button_text
		} %}

		{% if iconRight %}
			{% include '@base/03-icons/icons.twig' with {
				icon_grade: 'nrm',
				icon_opz: '20',
				icon_text: 'arrow_forward'
			} %}
		{% endif %}

	</a>

{% endif %}
 #}

{# {% import '@root/global-components.twig' as GlobalComponents %} #}

{# {% include '@base/05-text/text/text.twig' with {
		text_class: class_text_button,
		text_content: button_text
	} %} #}

	{# {% include '@root/global-components.twig' %} #}

	{% include './../../../example.twig'%}

	{# {% include './../../../../example2.twig'%} #}

	{# {% include '/docroot/sites/ecosistema/themes/storybook_prueba/example3.twig' %} #}

{# {% include GlobalComponents.Text with {
		text_class: class_text_button,
		text_content: button_text
	} %} #}

{# docroot/storybook-global/05-text/text/text.twig #}
